@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f7fd;
    -webkit-font-smoothing: antialiased;
    font-family: var(--shrift);
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0;
}

:root {
    --fmbc: #0c77e2;
    --smbc: #b81d00;
    --bmenuoc: #b91d03;
    --bmenuic: #194580;
    --sun-text: #f8c124;
    --top-catecory-line: #0c77e2;
    --catecory-text: #6486b4; 
    --blue-text: #0063c6;
    --white-text: #ffffff;
    --bmenu-footc: #f3f5f6;
    --yellow-btn: #ffdc22;
    --blue-btn: #0c77e2;
    --logo-text-col: #222222;
    --border-col: #d4d9dc;
    --shrift: 'Alegreya', Times, serif;
}

header {
    min-width: 1px;
    height: 50px;
    background-color: var(--fmbc);
    display: flex;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-family: 'Alegreya', Times, serif;
    font-feature-settings: 'tnum', 'lnum';
}

@media (max-width: 767px) {
    header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 501;
    }
}

.main-menu {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    min-width: 1px;
    width: 100%;
    position: relative;
}

.main-left {
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    min-width: 1px;
    width: 100%;
    position: relative;
}

.brgr {
    user-select: none;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-shrink: 1;
    height: 100%;
    min-width: 50px;
    padding: 0;
    background-color: var(--bmenuoc);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 0;
}

@media (max-width: 767px) {
    .brgr {
        width: 50px;
    }
}

.brgr-menu {
    position: relative;
    width: 29px;
    height: 14px;
    border-top: 3px solid var(--white-text);
}

.brgr-menu::before {
    top: 4px;
    width: 100%;
}

.brgr-menu::before, .brgr-menu::after {
    position: absolute;
    left: 0;
    height: 3px;
    content: '';
    background: var(--white-text);
}

.brgr-menu::after {
    top: 11px;
    width: 21px;
    height: 3px;
    transition: width 0.4s;
}

.brgr-menu:hover::after {
    width: 29px;
}

.logo {
    display: none;
    -webkit-box-align: center;
    align-items: center;
}

@media (max-width: 1278px) {
    .logo {
    display: flex;
    }
}

.head-logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-left: 14px;
    text-decoration: none;
}

@media (max-width: 475px) {
    .head-logo {
        margin-left: 8px;
    }
}

@media (max-width: 767px) {
    .head-logo {
        margin-left: 10px;
    }
}

.logo-one {
    width: 60px;
    height: 36px;
    background-image: url(./assets/komru-mini.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    margin-right: 5px;
}

@media (max-width: 475px) {
    .logo-one {
        background-image: url(./assets/komru-mini.svg);
        width: 56px;
        height: 32px;
    }
}

.logo-two {
    display: block;
    height: 25px;
    width: 140px;
    background-image: url(./assets/komru-big.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 475px) {
    .logo-two {
        background-image: url(./assets/kp-ru.svg);
        width: 59px;
    }
}

.a-torch {
    text-decoration: none;
    display: flex;
    flex-shrink: 0;
}

.torch {
    display: none;
}

@media (min-width: 376px) {
    @media (max-width: 475px) {
         .torch {
            margin-left: 5px;
         }
    }
}

@media (min-width: 376px) {
    .torch {
        display: block;
        width: 32px;
        height: 44px;
        margin-left: 11px;
        margin-bottom: -5px;
    }
}

.rus {
    display: none;
}

.white-line {
    width: 4px;
    height: 100%;
    background-color: var(--white-text);
}

.big-menu {
    padding: 0 0 0 32px;
    min-width: 1px;
    width: 100%;
}

@media (max-width: 1278px) {
    .big-menu {
        display: none;
    }
}

.big-menu-flex {
    font-family: 'Alegreya', Times, serif;
    font-feature-settings: 'tnum', 'lnum';
    height: 50px;
    line-height: 48px;
    display: flex;
    width: 100%;
    overflow: hidden;
    /* padding-right: 67px; */
}

.big-menu-items {
    display: flex;
    flex-wrap: wrap;
}

.big-menu-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    color: var(--white-text);
    background: transparent;
    padding: 0 12px;
    font-family: 'Alegreya', Times, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
}

.big-menu-item:hover {
    text-decoration: underline;
    color: var(--sun-text);
}

.more {
    margin-left: auto;
}

.deep-more {
    display: flex;
    position: relative;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    color: var(--white-text);
    text-transform: uppercase;
    padding-right: 20px;
    padding-left: 12px;
    cursor: pointer;
    user-select: none;
    font-family: 'Alegreya', Times, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
}

.deep-more::before {
    position: absolute;
    content: "";
    right: 2px;
    top: 50%;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-top: 2px solid var(--white-text);
    border-left: 2px solid var(--white-text);
    transform: rotate(225deg);
    margin-top: -3px;
    transform-origin: 3px 2px;
    border-right-color: var(--white-text);
    border-bottom-color: var(--white-text);
}

.deep-more:hover {
    color: var(--sun-text);
    text-decoration: underline;
}

.deep-more:hover::before {
    border-color: var(--sun-text);
}

/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */


.overflow-modal {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--white-text);
  box-shadow: rgba(0,0,0,0.15) 4px 5px 14px -1px;
  overflow: hidden;
  z-index: 502;
  padding: 0;
  margin: 0;
  display: block;
  border-width: medium;
  border-style: none;
  border-color: currentColor;
  border-image: none;
  border-radius: 4px;
}

.modal-list {
  position: relative;
  min-width: 230px;
  max-height: 478px;
  overflow-x: auto;
  padding: 20px;
}

.modal-list .menu-item {
  display: block;
}

.modal-list .big-menu-item {
  display: block;
  padding: 10px 20px;
  color: var(--blue-text);
  text-decoration: none;
  font-size: 13px;
}

.modal-list .big-menu-item:hover {
    text-decoration: underline;
}

.podlojka {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    min-width: 1px;
    -webkit-box-align: center;
    position: relative;
    padding-right: 70px;
}

.volume {
    margin-left: auto;
}

.volume::after {
    position: absolute;
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.2);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
}

@media (max-width: 767px) {
    .volume, .locationl {
        display: block;
    }
}


.location, .volume {
    width: 50px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    position: relative;
    display: none;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 0;
    /* margin-left: auto; */
}

@media (max-width: 767px) {
    .location, .volume {
        display: flex;
    }
}



/* .volume span {
    position: relative;
} */


/* 
.roop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
} */

.volume svg {
    display: block;
    width: 26px;
    height: 26px;
    /* stroke: var(--white-text); */
    fill: var(--white-text);
}

.location svg {
    display: block;
    width: 24px;
    height: 24px;
    /* stroke: var(--white-text); */
    fill: var(--white-text);
}

.poisk {
    display: block;
}

@media (min-width: 768px) {
        /* .poisk {
        display: inline-block;
        height: 100%;
        margin-left: auto;
    } */
}

.poisk span {
    width: 65px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: auto;
}

.poisk span svg {
    display: block;
    width: 30px;
    height: 30px;
    stroke: var(--white-text);
    stroke-width: 2.5;
}

.poisk:hover span svg{
    stroke: var(--sun-text)
}

.log-in {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 502;
    width: 50px;
    height: 100%;
    flex-shrink: 0;
    background: var(--white-text);
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.log-in span svg {
    display: flex;
    width: 30px;
    height: 30px;
    fill: #222222;
    stroke-width: 1;
    transition: 0.2s;
}

.log-in:hover span svg {
    fill: var(--blue-btn);
}

.local {
    /* display: none; */
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    padding: 0 15px;
    background: var(--white-text);
}

.loc-in {
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    -webkit-box-align: center;
}

.loc-in-left {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.loc-in-logo {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.loc-in-logo-f {
    width: 69px;
    height: 40px;
    margin-bottom: 0;
    background-image: url(./assets/red-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    margin-right: 5px;
}

.loc-in-logo-s {
    display: block;
    height: 30px;
    width: 158px;
    background-image: url(./assets/komsom-pravda.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.loc-in-sec-logo {
    display: flex;
    flex-shrink: 0;
    opacity: 1;
    text-indent: -1000px;
}

.loc-in-sec-logo img {
    display: block;
    width: 128px;
    height: 54px;
    margin-left: 20px;
    margin-bottom: -5px;
}

.geo {
    position: relative;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    height: 34px;
    border-left: 1px solid rgb(212, 217, 220);
    border-right: 1px solid rgb(212, 217, 220);
    padding: 0 16px;
    margin: 0 0 0 15px;
    font-family: 'Alegreya', Times, serif;
    font-feature-settings: "tnum", "lnum";
    border-top-color:rgb(212, 217, 220);
    border-bottom-color:rgb(212, 217, 220);
}

.geo-ros {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    padding-right: 18px;
    font-family: 'Alegreya', Times, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
    color: var(--logo-text-col);
}

.geo-ros::after {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border-top: 2px solid var(--logo-text-col);
    border-left: 2px solid var(--logo-text-col);
    transform: rotate(225deg);
    margin-top: -3px;
    transform-origin: 3px 2px;
    border-right-color: var(--logo-text-col);
    border-bottom-color: var(--logo-text-col);
}

.city {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    column-gap: 12px;
    margin-left: 15px;
    color: var(--logo-text-col);
}

.geo-city {
    font-family: 'Alegreya', Times, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--logo-text-col);
}

.city-meteo {
    width: 26px;
    height: 26px;
    margin-top: 3px;
    margin-bottom: 3px;
    background: url(./assets/weather.svg) 50% 50% / contain no-repeat;
}

.city-temp {
    font-size: 15px;
    line-height: 1.33;
    font-family: 'Alegreya', Times, serif;
    font-weight: bold;
}

.loc-in-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.radio {
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.rad-icon {
    content: "";
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(./assets/rupor-black.svg);
}

.rad-text {
    display: flex;
    margin-left: 5px;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    color: var(--fmbc);
}

.rad-text a {
    font-family: 'Alegreya', Times, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
    color: inherit;
}

.ad {
    font-family: 'Alegreya', Times, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
    display: block;
    flex-shrink: 0;
    color: var(--smbc);
    padding: 7px 20px;
    position: relative;
}

.ad::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 34px;
    background: #e1e4e6;
}

.subscribe {
    font-family: 'Alegreya', Times, serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
    display: block;
    flex-shrink: 0;
    color: #e97011;
    padding: 7px 20px;
    position: relative;
}

.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 34px;
    background: #e1e4e6;
}

/* //////////////////////////////////////////////REDLINE  */
/* //////////////////////////////////////////////REDLINE  */
/* //////////////////////////////////////////////REDLINE  */

.red-head {
    display: block !important;
    width: 100%;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-width: 1px;
    height: 54px;
    margin-bottom: 10px;
    transform: translate3d(0px, 0px, 0px);
    font-family: var(--shrift);
    font-feature-settings: "tnum", "lnum";
}

.red-head-inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.red-line {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-flow: row;
    width: 100%;
    background-color: var(--smbc);
}

.today {
    font-weight: 900;
    font-size: 13px;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--sun-text);
    margin: 0 9px 0 18px;
}

.red-wrap {
    height: 54px;
    line-height: 54px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.red-nav {
    display: flex;
    flex-wrap: wrap;
}

.red-nav a {
    text-transform: uppercase;
    color: var(--white-text);
    padding: 0 9px;
    white-space: pre;
    font-size: 13px;
    font-weight: 800;
}

.red-nav a:hover {
    text-decoration: underline;
}

/* //////MAIN  */
/* //////MAIN  */
/* //////MAIN  */

main {
    padding-top: 15px;
    padding-bottom: 40px;
    background-color: #f7f9fd;
}

.main-wrap {
    display: block !important;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
}

.main-wrap-inner {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.time-and-date {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.time-and-date a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
    border: 1px solid rgba(34, 34, 34, 0.3);
    padding: 2.5px 6px 1.5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    color: var(--blue-text);
}

.time-and-date p {
    color: #626262;
    font-family: var(--shrift);
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-feature-settings: "tnum", "lnum";
}

h1 {
    margin: 15px 0 0 0;
    color: #222203;
    word-break: break-word;
    font-family: var(--shrift);
    font-weight: 800;
    font-size: 44px;
    line-height: 1;
    font-feature-settings: "tnum", "lnum";
}

h1 span {
    color: var(--blue-text);
}

.under-h1-text {
    margin-top: 15px;
    color: #626262;
    overflow: hidden;
    word-break: break-word;
    font-family: var(--shrift);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.42;
    font-feature-settings: "tnum", "lnum";
}

/* FOOTBALL */
/* FOOTBALL */
/* FOOTBALL */

footer {
    content-visibility: unset;
    min-height: 878px;
    overflow: visible;
}

.frap {
    position: relative;
    background-color: var(--white-text);
}

.nav-soci, .info {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 0 20px;
}

.nav-soci-wrap {
    align-items: center;
    -webkit-box-align: center;
    border-bottom: 1px solid var(--border-col);
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 30px 0;
}

.uarabey {
    width: 146px;
    height: 36px;
    background: url(./assets/uarabey.svg) right center no-repeat;
}

.socialki {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.socisok {
    flex: 1 1 auto;
    display: grid;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: unset;
    grid-template-columns: repeat(auto-fill, 46px);
    grid-auto-flow: column;
}

.sositem {
    cursor: pointer;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
}

.socicon {
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.max {
    background-image: url(./assets/socials/max.png);
}

.dzen {
    background-image: url(./assets/socials/dzen.svg);
}

.yappy {
    background-image: url(./assets/socials/yappi.svg);
}

.youtube {
    background-image: url(./assets/socials/youtube.svg);
}

.telegram {
    background-image: url(./assets/socials/telegram.svg);
}

.twitter {
    background-image: url(./assets/socials/twitter.svg);
}

.ok {
    background-image: url(./assets/socials/ok.svg);
}

.vk {
    background-image: url(./assets/socials/vk.svg);
}

.rutube {
    background-image: url(./assets/socials/kom-ru.svg);
}

/* //INFO  */
/* //INFO  */
/* //INFO  */

.info-wr {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 32px;
    padding: 32px 0;
}

.info-menu {
    border-right: 1px solid var(--border-col);
    flex: 0.5 1 0%;
    width: 100%;
}

.menu-wrap {
    display: flex;
    column-gap: 32px;
    flex: 1 1 0%;
    flex-direction: row;
}

.menu-rubriki {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    padding-top: 12px;
    position: relative;
    text-transform: uppercase;
    width: 100px;
    font-family: var(--shrift);
}

.menu-rubriki::before {
    content: "";
    background: var(--blue-btn);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 4px;
}

.menu-items {
    column-count: 2;
    flex: 1 1 0%;
}

.menu-items a {
    display: block;
    color: var(--logo-text-col);
    margin-bottom: 9px;
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--shrift);
}

/* //////////////////// */
/* //////////////////// */
/* //////////////////// */

.info-subs {
    flex: 0.5 1 0%;
    width: 100%;
}

.odin-div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-sub-text {
    border-bottom: 1px solid var(--border-col);
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
/* .info-sub-text {
    display: flex;
    flex-direction: column;
    width: 100%;
} */

.sub-text-inner {
    display: flex;
    flex-direction: column;
}
/* .sub-text-inner {
    border-bottom: 1px solid var(--border-col);
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
} */

.objedenitel {
    display: flex;
    flex-direction: column;
}

.zagolovok {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    padding-top: 12px;
    position: relative;
    text-transform: uppercase;
    width: 100px;
    margin-bottom: 15px;
    font-family: var(--shrift);
}

.zagolovok::before, .app-link-zagolovok::before {
    content: "";
    background: var(--blue-btn);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 4px;
}

.text {
    display: block;
    margin-bottom: 20px;
}

.text-item {
    float: left;
    margin: 0 10px 10px 0;
    display: block;
    color: var(--logo-text-col);
    line-height: 20px;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--shrift);
}

.app-links {
    flex: 1 1 0%;
}

.app-links-content {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}

.app-links-content-inner {
    flex: 1 1 0%;
}

.app-link-zagolovok {
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    padding-top: 12px;
    position: relative;
    text-transform: uppercase;
    width: 100px;
    margin-bottom: 15px;
    font-family: var(--shrift);
    white-space: nowrap;
}

.div-s-knopkami {
    display: block;
    padding-bottom: 10px;
}

.div-s-knopkami a {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 10px 0 0;
}

.div-s-knopkami a img {
    width: auto;
    height: 40px;
}

.info-sub-btns {
    padding-top: 28px;
    text-align: left;
    display: flex;
}
/* 
.info-sub-btns {
    width: 100%;
    padding-top: 28px;
    text-align: left;
    display: flex;
} */

.info-sub-btn:not(:first-child) {
    margin-left: 20px;
}

.info-sub-btn button {
    height: 40px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 15px;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    font-family: "Roboto", Tahoma, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--logo-text-col);
}

.yellow-btn button {
    background: var(--yellow-btn);
}

.blue-btn {
    margin-left: 20px;
}

.blue-btn button {
    background: var(--fmbc);
    color: var(--white-text);
}

.info-b-inner {
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.info-b-inner > * {
    flex-shrink: 0;
}

.info-b-inner::before {
    content: "";
    display: block;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    position: relative;
    z-index: 4;
}

.mail-svg::before {
    background: url(./assets/mail.svg);
}

.letter-svg::before {
    background: url(./assets/hueta.svg);    
}

.info-b-inner span {
    flex: 1 1 0%;
}

.design-otjima {
    padding-top: 28px;
    text-align: left;
    line-height: 16px;
}

.design-otjima span {
    font-family:  "Roboto", Tahoma ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}

.design-otjima a {
    padding-top: 28px;
    text-align: left;
    line-height: 16px;
}

.design-otjima a span {
    display: inline-block;
    width: 58px;
    height: 13px;
    vertical-align: middle;
    background: url(./assets/agima.svg) center center no-repeat;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */


.foot {
    color: var(--white-text);
    background: var(--fmbc);
    font-family: 'Roboto', Tahoma, sans-serif;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    text-transform: uppercase;
}

.foot-wrap-padding {
    padding: 32px 0;
}

.foot-sub-wrap {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 0 20px;
}

.foot-inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    -webkit-box-pack: justify;
    flex-direction: row;
}

.foot-redact {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    flex: 0 0 53%;
}

.foot18 {
    flex: 0 0 auto;
    min-width: 75px;
    width: 150px;
    font-family: Tahoma;
}

.foot18::before {
    content: "18+";
    border: 2px solid var(--white-text);
    box-sizing: border-box;
    color: var(--white-text);
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
    height: 46px;
    width: 46px;
}

.foot-under18 {
    padding-left: 20px;
}

.foot-red-text {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', Tahoma, sans-serif;
}

.foot-rights {
    padding-left: 66px;
    flex: 1 1 0%;
}

.foot-rights-text {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', Tahoma, sans-serif;
}

.foot-rights-text a {
    color: var(--white-text);
    text-decoration: underline;
    font-family: 'Roboto', Tahoma, sans-serif;
}

@media (min-width: 476px) {

}

@media (min-width: 767px) {
    .brgr {
        min-width: 70px;
    }    
    .podlojka {
        max-width: 145px;
    }
    .log-in {
        width: 70px;
    }
}

@media (max-width: 767px) {
    .white-line {
        width: 6px;
    }
    .podlojka {
        padding-right: 50px;
    }
    .local {
        display: none;
    }
    .poisk {
        display: none;
    }
    .red-head {    
        margin-top: 55px;
        height: 30px;
    }
    .red-line {
        background: unset;
    }
    .today {
        display: none;
    }
    .red-wrap {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
    }
    .red-nav {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .red-nav::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0;
    }
    .red-nav a {
        font-size: 12px;
        background-color: var(--smbc);
        padding-left: 6px;
        padding-right: 6px;
        margin: 0 5px 0 0;
    }
    .nav-soci-wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .socialki {
        border-top: 1px solid var(--border-col);
        margin-top: 30px;
        padding-top: 25px;
        width: 100%;
    }
    .socisok {
        grid-auto-flow: row;
    }
    .info-sub-btns {
        border-bottom: 1px solid var(--border-col);
        text-align: center;
        flex-flow: column;
    }
    .info-subs {
        padding-left: 0;
    }
    .odin-div {
        flex-direction: column-reverse;
    }
    .info-sub-btn:not(:first-child) {
        margin-left: 0;
    }
    .info-sub-btn button {
        margin-left: 0;
        padding: 0 18px;
        margin-bottom: 25px;
        width: 100%;
    } 
    .info-b-inner {
        flex-direction: row-reverse;
        width: 100%;
    }
    .info-b-inner::before {
        margin-right: 0;
    }
    .info-b-inner span {
        text-align: center;
    }
    .info-b-inner span::after {
        content: "";
        bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        z-index: 2;
    }
    .yellow-btn span::after {
        background-color: #f8c124;
    }
    .blue-btn span::after {
        background-color: #0566c7;
    }
    .zagolovok, .app-link-zagolovok {
        font-size: 11px;
        width: 70px;
        line-height: 12px;
    }
    .design-otjima {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0;
    }
    .foot > div {
        width: 100%;
        padding: 20px;
        display: inline-block;
        box-sizing: border-box;
    }
    .menu-wrap {
        column-gap: 16px;
    }
    .menu-rubriki {
        width: 70px;
        font-size: 11px;
        line-height: 12px;
    }
}

@media (min-width: 768px) {
    /* ВРЕМЯ ПОЯВЛЕНИЯ ВТОРОГО(ЦЕНТРАЛЬНОГО) МЕНЮ И ИСЧЕЗАНИЯ ЗНАЧКА ЗВУКА, ГЕОЛОКАЦИИ И ПОЯВЛЯЕТСЯ ЗНАЧОК ЛУПЫ */
}

@media (max-width: 965px) {
    .city-temp {
        font-size: 19px;
        line-height: 26px;
    }
    .geo-city {
        font-size: 13px;
    }
}

@media (max-width: 1023px) {
    .red-head-inner > div:first-child {
        min-width: unset;
    }
    .nav-soci {
        padding: 0 10px;
    }
    .nav-soci-wrap {
        max-width: 737px;
        margin: 0 auto;
        padding: 20px 0;
    }
    .info {
        padding: 0 10px;
    }
    .info-wr {
        display: block;
        max-width: 610px;
        margin: 0 auto;
    }
    .info-menu {
        grid-template-columns: 100%;
        border-bottom: 1px solid var(--border-col);
        border-right: 0;
        /* border-right-width: medium;
        border-right-style: 0; */
        /* flex: 0.5 1 0%; */
    }
    .menu-wrap {
        margin-bottom: 20px;
    }
    .info-subs {
        max-width: 610px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
    .objedenitel {
        padding-top: 20px;
    }
    .sub-text-inner {
        padding-top: 20px;
    }
    .design-otjima span {
        font-size: 13px;
        line-height: 15px;
    }
    .foot > div {
        max-width: 737px;
        margin: 0 auto;
    }
}

@media (max-width: 1278px) {
    .local {
        padding: 0 10px;
    }
    .loc-in-logo, .loc-in-sec-logo {
        display: none;
    }
    .rad-text a, .ad, .subscribe, .geo-ros {
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        font-feature-settings: "tnum", "lnum";
    }
    .geo {
        border-left: 0;
        margin-left: 0;
    }
    .info-wr {
        grid-template-columns: 45% 55%;
        gap: 20px;
        padding: 20px 0;
    }
    .menu-wrap {
        -webkit-box-pack: center;
        justify-content: center;
        max-width: 610px;
    }
    .odin-div {
        max-width: 610px;
    }
    .info-sub-text {
        justify-content: center;
        -webkit-box-pack: center;
    }
    /* .info-sub-text {
        min-width: 610px;
    } */
    .sub-text-inner {
        -webkit-box-pack: center;
        justify-content: center;
    }
    /* .info-sub-btns {
        min-width: 610px;
    } */
    .info-sub-btns {
        max-width: 610px;
    }
    .design-otjima {
        min-width: 610px;
        width: 100%;
        padding-bottom: 25px;
    }
}

@media (max-width: 1279px) {
    .foot-sub-wrap {
        padding: 0;
    }
    .foot-inner {
        flex-direction: column;
    }
    .foot18 {
        min-width: 46px;
        width: 46px;
    }
}

